<!DOCTYPE HTML>
<html>
<head>

    <!-- Bootstrap via CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script>

        $(function() { //shorthand document.ready function

            $('#successMsg').hide();
            $('#errorMsg').hide();

            $('#login_form').on('submit', function(e) { //use on if jQuery 1.7+
                e.preventDefault();  //prevent form from submitting
                $('#successMsg').hide();
                $('#errorMsg').hide();


                // TODO: Check password strength/length

                $.ajax({
                    type: "POST",
                    url: '',
                    data: {
                        password: $('#password').val()
                    },
                    success: function() {
                        console.log('success');
                        $('#successMsg').show();
                        $('#submitButton').prop('disabled', true);
                    },
                    error: function() {
                        console.log('error');
                        $('#errorMsg').show();
                    }
                });

            });
        });


    </script>
</head>



<body>


<div class="container">
    <div class="row">

        <div class="col-md-6 col-md-offset-3">
            <h4 style="border-bottom: 1px solid #c5c5c5;">
                <i class="glyphicon glyphicon-user">
                </i>
                Update Password
            </h4>
            <div style="padding: 20px;" id="form-olvidado">

                <div id="successMsg" class="alert alert-success">
                    <strong>Success!</strong> Your password has been updated.
                </div>

                <div id="errorMsg" class="alert alert-danger">
                    <strong>Error!</strong> Something went wrong.
                </div>

                <form accept-charset="UTF-8" role="form" id="login_form" method="post" target="">
                    <fieldset>
                        <div class="form-group input-group">
          <span class="input-group-addon">
            <i class="glyphicon glyphicon-lock">
            </i>
          </span>
                            <input class="form-control" placeholder="Password" id="password" name="password" type="password" value="" required="">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block" id="submitButton">
                                Update Password
                            </button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>